* {
  box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
  margin-bottom: 10px;
  text-align: center;
  color: red;
  font-size: 25px;
}

.heading{
  overflow: none;
  text-align: center;
  border: 2px solid black;
  width: 150px;
  height: 30px;
  padding: 5px;
  float: right;
  margin-right: 25px;
  margin-top: 0px;
  font-weight: bold;
  position: relative;
}

.content{
  border: 2px solid black;
  width: 90%;
  height: auto;
  margin: 5%;
  color: black;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  padding-top: 50px;
  background-color: grey;
}

.Chicken{
  background-color: pink;
}

.Beef{
  color: white;
  background-color: red;
}
.Sushi{
  background-color: yellow;
}

.box{
  width: 100%;
  overflow: none;
}



@media (min-width: 992px) {
  .col-lg-4 {
  	float: left;
    width: 33.33%;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    margin-left: -10px;
    width: 100%;
  }
  .name3{
    margin-right: 65px;
    width: 100px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .col-sm-12 {
  	float: left;
    width: 100%;
  }
  .content-name{
    margin-right: 30px;
  }
}
